/** {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

body{
	font-family: 'Roboto', sans-serif;
}
header {
	margin: 5px;
	border: 1px solid red;
	font-size: 12px;

}

label{
	margin-left:10px;
	padding-right:15px;
	border: 1px solid red;
}

img{
	width: 1000px;
	height: 300px;
	border:1px soild red;
}

h2{
	color:white;
	position: absolute;
	top: 100px;
	right: 500px;
	text-align: center;
	border: 1px solid red;
	font-size: 35px;
}

#plans {
	width: 850px;
	border: 1px solid red;
	margin: 45px 90px 45px 90px;
}

#plans ul{
	list-style-type: none;
}

	.plan5 {
		width:250px;
		border: 1px solid red;
		float:left;
		margin-right:10px;
	}

		.plan5head{
			background-color: #45874b;
			color: white;
			text-align: center;
		}

			.plan5 span{
				font-size:75px;
		}

		.plan5list{ 
			text-align: center;
		}
		.plan5list ul {
			font-size: 14px;
		}

	.plan25{
		width: 250px;
		border: 1px solid red;
		float:left;
		margin-right: 10px;
		margin-bottom:15px;
	}

		.plan25head {
			background-color: #34447f;
			color: white;
			text-align: center;
		}

			.plan25 span{
				font-size:75px;
			}

		.plan25list {
			text-align: center;
		}
		.plan25list ul {
			font-size: 14px;
		}

	.plan45 {
		width: 250px;
		border: 1px solid red;
		float:left;
	}

		.plan45head {
			background-color: black;
			color: white;
			text-align: center;
		}
			.plan45 span {
				font-size: 75px;
			}

			.plan45list ul {
				font-size: 14px;
			}

		.plan45list {
			text-align: center;
		}
		#textinfo {
			  display: inline-block;
			  width: 800px;
			  height: 800px;
			  margin: 15px 75px 15px 75px;
			  border: 1px solid green;
			/*margin-left: 60px
	margin-right: 60px;
}*/
				float: left;
				/*box-sizing:600px;*/
}

	/*.p1{
		border: 1px solid red;
		float: left;
	}
	.p2 {
		border: 1px solid red;
		float:left;
	}

	.p3{
		border: 1px solid red;
		float: left;
	}

	.p4{
		border: 1px solid red;
		float: left;
	}*/

footer { 
	border: 1px solid red;
	margin-top: 20px;
	margin-left:10px;
	padding: 30px;
	text-align: center;
	/*position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
	color: white;
	background-color: black:;
*/
}